<template>
    <li class="nav-item dropdown hidden-caret">
        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fas fa-layer-group"></i>
        </a>
        <div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
            <div class="quick-actions-header">
                <span class="title mb-1">Tareas Rapidas</span>
                <span class="subtitle op-8">Shortcuts</span>
            </div>
            <div class="quick-actions-scroll scrollbar-outer">
                <div class="quick-actions-items">
                    <div class="row m-0">
                        <a class="col-6 col-md-4 p-0" href="#">
                            <div class="quick-actions-item">
                                <i class="flaticon-file-1"></i>
                                <span class="text">Generated Report</span>
                            </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="#">
                            <div class="quick-actions-item">
                                <i class="flaticon-database"></i>
                                <span class="text">Create New Database</span>
                            </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="#">
                            <div class="quick-actions-item">
                                <i class="flaticon-pen"></i>
                                <span class="text">Create New Post</span>
                            </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="#">
                            <div class="quick-actions-item">
                                <i class="flaticon-interface-1"></i>
                                <span class="text">Create New Task</span>
                            </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="#">
                            <div class="quick-actions-item">
                                <i class="flaticon-list"></i>
                                <span class="text">Completed Tasks</span>
                            </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="#">
                            <div class="quick-actions-item">
                                <i class="flaticon-file"></i>
                                <span class="text">Create New Invoice</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>

</template>

<script>
    export default {
        name: "TareasRapidasComponent"
    }
</script>

<style scoped>

</style>