<template>
    <li class="nav-item dropdown hidden-caret">
        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
            <div class="avatar-sm">
                <img src="/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
            </div>
        </a>
        <ul class="dropdown-menu dropdown-user animated fadeIn">
            <div class="dropdown-user-scroll scrollbar-outer">
                <li>
                    <div class="user-box">
                        <div class="avatar-lg"><img src="/assets/img/profile.jpg" alt="image profile" class="avatar-img rounded"></div>
                        <div class="u-text">
                            <h4>{{$auth.getUser().name}}</h4>
                            <p class="text-muted">{{$auth.getUser().email}}</p>
                            <a href="profile.html" class="btn btn-xs btn-secondary btn-sm">Ver Perfil</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown-divider"></div>
                    <router-link :to="{name: 'perfil'}" class="dropdown-item">Mi Perfil</router-link>
                    <a class="dropdown-item" href="#">Opcion</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Configuracion</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" @click="logout" href="#">Salir</a>
                    <form id="logout-form" action="/logout" method="POST" style="display: none;">
                        <input type="hidden" name="_token" :value="token">
                    </form>
                </li>
            </div>
        </ul>
    </li>

</template>

<script>
    export default {
        name: "UsuarioOpcionComponent",
        computed: {
            token() {
                let token = document.head.querySelector('meta[name="csrf-token"]');
                return token.content
            }
        },
        methods:{
            logout() {
                document.getElementById('logout-form').submit()
            },

        },
    }
</script>

<style scoped>

</style>