<template>
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Pacientes</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Pacientes</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Gestion de pacientes</h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="pacientes" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Cedula</th>
                                        <th>Telefono</th>
                                        <th>Ciudad</th>
                                        <th>Credito</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import datables from './../lib/datatables.min';

    export default {
        name: "Pacientes",
        data() {
            return {
                tabla:null
            }
        },
        mounted() {
            this.cargarTabla();
        },
        methods: {

            cargarTabla() {
                $(function () {
                    this.tabla=$('#pacientes').DataTable({
                        "ajax": {
                            "url": "http://dentalstetic.gatewayti.com.co/get-clientes",
                            "type": "GET",
                            "dataSrc": function (data) {
                                var json = [];
                                console.log(data);
                                for (var item in data.msg) {
                                    var itemJson = {
                                        Id: data.msg[item].id,
                                        Nombre: '<a href="/dashboard/perfil/' + data.msg[item].id + '" >' + data.msg[item].nombre + '</a>',
                                        Cedula: data.msg[item].cedula,
                                        Telefono: data.msg[item].telefono,
                                        Ciudad: data.msg[item].ciudad,
                                        Ocupacion: data.msg[item].ocupacion,
                                        Credito: "$"+data.msg[item].credito.toLocaleString(),
                                        Opciones: "",
                                    };
                                    json.push(itemJson)
                                }
                                return json;
                            }
                        },
                        columns: [
                            {data: "Nombre"},
                            {data: "Cedula"},
                            {data: "Telefono"},
                            {data: "Ciudad"},
                            {data: "Credito"},
                            {data: "Opciones"},
                        ],
                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>