<template>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.gatewayti.com.co">
                            GatewayTI
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Ayuda
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licencia
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2019, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.gatewayti.com.co">GatewayTI</a>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "FooterComponent"
    }
</script>

<style scoped>

</style>